*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    margin: 8px;
}
ul{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
li{
    display: inline-block;
    list-style: none;
    border-radius: 8px 8px;
    background-color: #ccc;
    padding: 10px;
}
p{
    display: block;
    border: 1px solid #ccc;
    height: 300px;
}
ul li:hover{
    background-color: aqua;
}